.details{
    display: flex;
    margin: 20px 30px;

    .details_left{
        flex: 0.65;

        h3{
            font-size: calc(1.1rem + 1vw);
            color: #f8f9fa;
            margin-bottom: 15px;
        }

        img{
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        div{
            margin-top: 15px;

            h4{
                font-size: calc(1.3rem + 1vw);
                color: #f8f9fa;
                margin-bottom: 15px;
            }

            p{
                line-height: 1.6;
                color: #f8f9fa;
                font-size: calc(0.9rem + 1vw);
            }
        }
    }

    .details_right{
        flex: 0.35;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0 50px ;
        padding: 25px 15px;
        max-width: 250px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.6);
        border-radius: 20px;
        overflow: hidden;
        position: sticky;
        top: calc(15vh + 50px);


        h4{
            font-size: calc(0.9rem + 1vw);
            margin-bottom: 20px;
            background-color: #f48c06;
            background-image: linear-gradient(45deg, #f48c06, #d00000);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }

        p{
            font-size: calc(0.6rem + 1vw);
            margin-bottom: 20px;
            padding-bottom: 5px;
            border-bottom: 0.1px solid black;
            min-width: 100%;
            align-self: center;
            color: grey;
        }

        
    }

    @media screen and (max-width: 1024px) {
        &{
            flex-direction: column;
            
            .details_right{
                margin-left: 0;
            }
        }

         
    }
}