.sidebar{
    // display: flex;
    // flex-direction: column;
    flex: 0.1;
    position: sticky;
    top: 15vh;
    padding: 20px;
    height: 85vh;
    
    .sidebar-top{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        justify-content: space-between;

        
        h2{
            margin-bottom: 24px;
            transition: color 1s ease-in-out ;

            & > a{
                font-size: calc(1.8rem + 1vw);
            }

            & > a:hover{
                color: grey;
            }
        }

        h3{
            font-size: calc(1.1rem + 1vw);
            // color: #f8f9fa;
            background-color: #f48c06;
            background-image: linear-gradient(45deg, #f48c06, #d00000);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            margin-bottom: 15px;
        }

        .cat-link{
            font-size: calc(0.55rem + 1vw);
            margin-bottom: 10px;
            width: 200px;
            color: #f8f9fa;
            cursor: pointer;
            padding: 10px 10px;
            &:hover{
                background-color: grey;
                border-radius: 20px;
                
            }
        }

        
    }

    @media screen and (max-width: 768px){
        display: none;
    }
}